.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-content {
    text-align: center;
    width: 300px;
}

.counter {
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
    font-variant-numeric: tabular-nums;
    /* Prevents jumping numbers */
}

.loader-bar {
    width: 100%;
    height: 2px;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.loader-progress {
    height: 100%;
    background-color: var(--color-accent);
}